<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-securtiy">
	
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
    	<title>Club Atletismo Viso</title>
    	<base href="/" />
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<link rel="icon" type="image/x-icon" href="ic-logo_caviso-32x32.png" />
	    <meta name="description" content="Web que gestiona y proporciona info sobre el Club Atletismo Viso" />
	    <meta name="keywords" content="Club Atletismo Viso Deporte Correr" />
	    <meta name="author" content="Jacinto Roldán Rodríguez" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Project CSS -->
        <link rel="stylesheet" th:href="@{/styles/main.css}" />
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img th:src="@{/images/logo_viso-100x160.png}" width="30" height="30" alt="LCAV">
                Club Atletismo Viso
            </a>
        </nav>

        <div class="container mt-4 vj-destacados">
            <div class="row">
                <div th:each="contact : ${contacts}" class="col-md-3 mb-4">
                    <form class="form-inline">
					  <label class="sr-only" for="email">Email</label>
					  <input th:text=${contact.email} type="text" class="form-control mb-2 mr-sm-2" id="email" placeholder="email@domain.ext">
					
					  <label class="sr-only" for="phoneMovil">Phone Movil</label>
					  <input th:text=${contact.phoneMovil} type="text" class="form-control mb-2 mr-sm-2" id="phoneMovil" placeholder="666333111">
					  
					  <label class="sr-only" for="phoneHome">Phone Home</label>
					  <input th:text=${contact.phoneHome} type="text" class="form-control mb-2 mr-sm-2" id="phoneHome" placeholder="955741000">
					
					  <button type="submit" class="btn btn-primary mb-2">Submit</button>
					</form>
                </div>
            </div>    
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>