<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/videojuegos.css">

        <title>Tienda VJ</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img src="img/logo.png" width="30" height="30" alt="">
                Tienda VJ
            </a>
        </nav>

        <div class="container mt-4 vj-destacados">
            <div class="row">
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="https://cdn.gbposters.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/f/p/fp4825-borderlands-3-cover.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Borderlands 3</h5>
                            <p class="card-text">¡Vuelve el padre de los shooter-looter, con tropecientas mil armas y una aventura caótica!</p>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class="btn btn-primary">Ver detalles</a>
                        </div>                        
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card ">
                        <img src="https://media.playstation.com/is/image/SCEA/control-poster-01-ps4-us-11sep19?$native_nt$" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Control</h5>
                            <p class="card-text">Tras la invasión de una agencia secreta de Nueva York por parte de una amenaza de otro mundo, te conviertes en la nueva directora que deberá luchar para recuperar Control.</p>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class="btn btn-primary">Ver detalles</a>
                        </div>                                        
                    </div>                  
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card ">
                        <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/ES/es/999/EP5426-CUSA13893_00-2222444466669999/1568624921000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Subnautica</h5>
                            <p class="card-text">Un juego de aventuras submarinas ambientado en un mundo oceánico alienígena. ¡Te espera un mundo abierto enorme lleno de maravillas y peligros! </p>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class="btn btn-primary">Ver detalles</a>
                        </div>                    
                    </div>                
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card ">
                        <img src="https://www.mobygames.com/images/covers/l/323028-firewatch-playstation-4-front-cover.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Firewatch</h5>
                            <p class="card-text">Firewatch es un juego de misterio en primera persona para un jugador que se desarrolla en la selva de Wyoming</p>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class="btn btn-primary">Ver detalles</a>
                        </div>                                        
                    </div>                   
                </div>                
                <div class="col-md-3">
                    <div class="card ">
                        <img src="https://www.mobygames.com/images/covers/l/323028-firewatch-playstation-4-front-cover.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Firewatch</h5>
                            <p class="card-text">Firewatch es un juego de misterio en primera persona para un jugador que se desarrolla en la selva de Wyoming</p>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class="btn btn-primary">Ver detalles</a>
                        </div>                                        
                    </div>                   
                </div>                
                <div class="col-md-3">
                    <div class="card ">
                        <img src="https://www.mobygames.com/images/covers/l/323028-firewatch-playstation-4-front-cover.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Firewatch</h5>
                            <p class="card-text">Firewatch es un juego de misterio en primera persona para un jugador que se desarrolla en la selva de Wyoming</p>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class="btn btn-primary">Ver detalles</a>
                        </div>                                        
                    </div>                   
                </div>                
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>